.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 123;
  width: 100%;
}

.favorites {
  width: 100%;
  padding-bottom: 24px;
}

.page-layout {
  //background-color: var(--background_primary);
  display: flex;
  padding-top: 64px;
}

.favorites-section {
  margin-bottom: 1.5rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.favorites-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
