@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  // new
  --bg-sidebar: #f29a67;

  /*BRAND*/
  --white: #ffffff;
  --brown: #683724;
  --black: #36302d;

  /*TG Default*/
  --bg_color: #ffffff;
  --text_color: #000000;
  --hint_color: #999999;
  --link_color: #168acd;
  --button_color: #40a7e3;
  --button_text_color: #ffffff;
  --secondary_bg_color: #f1f1f1;

  /*Grayscale Warm*/
  --content_1: #1d0b00;
  --content_2: #564840;
  --content_3: #99918c;
  --border: #e9e7e6;
  --background_secondary: #f6f5f5;
  --background_primary: #ffffff;

  /*Blue*/
  --blue-base: #0085ff;
  --blue-hover: #339dff;
  --blue-pressed: #1272cc;
  --blue-border: #cce7ff;
  --blue-background: #e5f3ff;

  /*Green*/
  --green-base: #00ba34;
  --green-hover: #33c85d;
  --green-pressed: #00952a;
  --green-border: #ccf1d6;
  --green-background: #e5f8eb;

  /*Yellow*/
  --yellow-base: #facc15;
  --yellow-hover: #fbd644;
  --yellow-pressed: #c8a311;
  --yellow-border: #fef5d0;
  --yellow-background: #fffae8;

  /*Orange*/
  --orange-base: #f98600;
  --orange-hover: #fa9e33;
  --orange-pressed: #c76b00;
  --orange-border: #fee7cc;
  --orange-background: #fff4e8;

  /*Red*/
  --red-base: #e92c2c;
  --red-hover: #ed5656;
  --red-pressed: #ba2323;
  --red-border: #fbd5d5;
  --red-background: #ffebeb;

  /*Pink*/
  --pink-base: #e92c2c;
  --pink-hover: #ed5656;
  --pink-pressed: #ba2323;
  --pink-border: #fbd5d5;
  --pink-background: #ffebeb;

  /*Violet*/
  --violet-base: #8b2ce9;
  --violet-hover: #a256ed;
  --violet-pressed: #6f23ba;
  --violet-border: #e8d5fb;
  --violet-background: #f3eafd;

  /*SHADOW*/
  --shadow-1: 0 1px 1px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 2px 1px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.08);
  --shadow-3: 0 1px 18px rgba(0, 0, 0, 0.06), 0 6px 10px rgba(0, 0, 0, 0.08);
  --shadow-4: 0 9px 46px rgba(0, 0, 0, 0.06), 0 24px 38px rgba(0, 0, 0, 0.04);
  --shadow_inner-1: inset 0 1px 1px rgba(0, 0, 0, 0.06);
  --shadow_inner-2: inset 0 2px 1px rgba(0, 0, 0, 0.06),
    inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

/* semantic color variables for this project */

@media (prefers-color-scheme: dark) {
  :root {
    --bg-sidebar: #683724;

    /*BRAND*/
    --white: #000000;
    --brown: #d5c7c2;
    --black: #c7c5c5;

    /*TG Default*/
    --bg_color: #17212b;
    --text_color: #f5f5f5;
    --hint_color: #708499;
    --link_color: #6ab3f3;
    --button_color: #5288c1;
    --button_text_color: #ffffff;
    --secondary_bg_color: #232e3c;

    /*Grayscale Warm*/
    --content_1: #e8e7e5;
    --content_2: #bbb6b3;
    --content_3: #776d66;
    --border: #776d66;
    --background_secondary: #28170d;
    --background_primary: #1d0b00;

    /*Blue*/
    --blue-base: #1d0b00;
    --blue-hover: #45a5ff;
    --blue-pressed: #1272cc;
    --blue-border: #193148;
    --blue-background: #1a2631;

    /*Green*/
    --green-base: #17cb49;
    --green-hover: #45d56d;
    --green-pressed: #12a23a;
    --green-border: #193d23;
    --green-background: #1a2c1f;

    /*Yellow*/
    --yellow-base: #face22;
    --yellow-hover: #fbd84e;
    --yellow-pressed: #c8a51b;
    --yellow-border: #473e1b;
    --yellow-background: #302c1b;

    /*Orange*/
    --orange-base: #ff9f2d;
    --orange-hover: #ffb257;
    --orange-pressed: #cc7f24;
    --orange-border: #48351e;
    --orange-background: #31271c;

    /*Red*/
    --red-base: #f74141;
    --red-hover: #f96767;
    --red-pressed: #c63434;
    --red-border: #462222;
    --red-background: #301e1e;

    /*Pink*/
    --pink-base: #f03ea9;
    --pink-hover: #f365ba;
    --pink-pressed: #ba237e;
    --pink-border: #c03287;
    --pink-background: #2f1e28;

    /*Violet*/
    --violet-base: #963af2;
    --violet-hover: #ab61f5;
    --violet-pressed: #782ec2;
    --violet-border: #332045;
    --violet-background: #261d30;

    /*SHADOW*/
    --shadow-1: 0 1px 1px rgba(0, 0, 0, 0.12);
    --shadow-2: 0 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.16);
    --shadow-3: 0 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.16);
    --shadow-4: 0 9px 46px rgba(0, 0, 0, 0.12),
      0px 24px 38px rgba(0, 0, 0, 0.08);
    --shadow_inner-1: inset 0 1px 1px rgba(0, 0, 0, 0.12);
    --shadow_inner-2: inset 0 2px 1px rgba(0, 0, 0, 0.12),
      inset 0 1px 1px rgba(0, 0, 0, 0.16);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--content_1);
  background: var(--background_primary);
  transition: color 0.5s, background-color 0.5s;
  line-height: 143%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
