/*? FULL */
.cp-1 {
  padding: 1rem !important;
}

.cp-2 {
  padding: 2rem !important;
}

.cp-3 {
  padding: 3rem !important;
}

.cp-4 {
  padding: 4rem !important;
}

.cp-5 {
  padding: 5rem !important;
}

/*? padding TOP */
.cp-t-1 {
  padding-top: 1rem !important;
}

.cp-t-2 {
  padding-top: 2rem !important;
}

.cp-t-3 {
  padding-top: 3rem !important;
}

.cp-t-4 {
  padding-top: 4rem !important;
}

.cp-t-5 {
  padding-top: 5rem !important;
}

/*? padding RIGHT */
.cp-r-1 {
  padding-top: 1rem !important;
}

.cp-r-2 {
  padding-top: 2rem !important;
}

.cp-r-3 {
  padding-top: 3rem !important;
}

.cp-r-4 {
  padding-top: 4rem !important;
}

.cp-r-5 {
  padding-top: 5rem !important;
}

/*? padding BOTTOM */
.cp-b-1 {
  padding-bottom: 1rem !important;
}

.cp-b-2 {
  padding-bottom: 2rem !important;
}

.cp-b-3 {
  padding-bottom: 3rem !important;
}

.cp-b-4 {
  padding-bottom: 4rem !important;
}

.cp-b-5 {
  padding-bottom: 5rem !important;
}

/*? padding LEFT */
.cp-l-1 {
  padding-bottom: 1rem !important;
}

.cp-l-2 {
  padding-bottom: 2rem !important;
}

.cp-l-3 {
  padding-bottom: 3rem !important;
}

.cp-l-4 {
  padding-bottom: 4rem !important;
}

.cp-l-5 {
  padding-bottom: 5rem !important;
}